$yellow: #d9d914;
$cyan: #2050b6;
$green: #47b54e;
$red: #e21e1e;

@mixin margenes($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin padding ($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;

}
.jumbotron {
    background-color: $cyan;
    color: black;
    @include margenes(50px, 0px, 0px, 0px)
}
footer{
    color: $cyan;
    background-color: darkgray;
    margin-bottom: 0px;
    margin-top: 0px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
}
.cuerpo {
    @include padding(3px, 0px, 2px, 0px)
}
.btn-reserva {
    width: 97.5%;
    margin: 2px 3px 2px 3px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.card-link { 
    width: 95%;
    padding: 3px;
    margin: 2px 3px 2px 3px;
    position: absolute;
    bottom: 7%;
    left: 5.5%;
}
.card-header{
    border: hidden;
}
.accordion{
    border: hidden;
}
.collapse{
    border: hidden;
}
.card-body{
    border: hidden;
}
.card{
    border: hidden;
}
.iconos-footer {
    padding-right: 5px;
}
.cuerpo1 {
    background-color: skyblue;
    padding: 5px 0px 0px 5px;
}
.jumbotron1 {
    background-color: $cyan;
    color: black;
    padding: 70px 0px 70px 15px;
    margin: 50px 0px 0px 0px;
}
.card-hotel {
    width: 100%;
    padding: 10px 10px 10px 10px;
    border: white;
    }
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.labelEstrellas{ color:grey;}
input[type = "radio"]{ display:none;}
.clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
  }
 .labelEstrellas:hover{color:orange;}
  .labelEstrellas:hover ~ .labelEstrellas{color:orange;}
input[type = "radio"]:checked ~ .labelEstrellas{color:orange;}
.footerDireccion{
    color: black
}
